* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
    width:100%;
    font-family: Arial, sans-serif;
    background-image: url("images/fond.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lock-screen {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: blanchedalmond;
}

.pin-display {
    margin-bottom: 20px;
}

input[type="password"] {
    width: 85px;
    height: 20px;
    padding: 0;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    background: rgba(255, 255, 255, 0.01);
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 15px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 1.8em;
}

button.key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    background-color: rgba(255, 255,255, 0.25);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 67px;
    width:70px ;
}

button.key:hover {
    background-color: rgba(255, 255, 255, 0.5);
}